<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Inovafi template</title>
<style type="text/css">
#wrapper {
	background-color: #fff;
	height: 500px;
	width: 800px;
	margin-right: auto;
}
#header {
	background-color: #CCC;
	height:100px;

}
#sidebar {
	float: left;
	width: 120px;
	background-color: #ccc;
	height: 400px;
}
#content {
		margin-left: 200px;
}
</style>
</head>

<body>
<div id=wrapper>
<div id=header>
<img src="../images/inovafilogo.png" alt="Inovafi" width="210" height="84">
</div>
<div id=sidebar>
Entre na escola Virtual de <strong>INOVA</strong><em>FI </em></strong>
</div>
<div id=content>
  <form id="form1" name="form1" method="post" action="/inovafi/login/">
{% csrf_token %}
    <p>email: &nbsp;<input type="text" name="user" id="user" /></p>
    <p>Senha:&nbsp;<input name="senha" type="password" size="20" maxlength="20" /></p>
    <p align="center"><input type="submit" value="Entrar" /></p>
  </form>
  <br />
  <p>Não está matriculado ainda? Registre-se aqui &nbsp; <input name="registrar" type="button" value="Registrar" />

{% if course_list %}
    <ul>
    {% for curso in course_list %}
        <li><a href="/inovafi/{{ curso.id }}/">{{ curso.nome }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>Nenhum curso disponivel</p>
{% endif %}
</div>
</div>
</body>
</html>




